-e .
arch==8.0.0
asteval==1.0.9
certifi==2026.2.25
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
deprecation==2.1.0
dill==0.4.1
EMD-signal==1.9.0
EntropyHub==2.0
fonttools==4.62.1
idna==3.11
iniconfig==2.3.0
kiwisolver==1.5.0
lmfit==1.3.4
matplotlib==3.10.8
multiprocess==0.70.19
narwhals==2.18.1
numpy==1.26.4
packaging==26.0
pandas==3.0.2
pathos==0.3.5
patsy==1.0.2
pillow==12.2.0
plotly==6.6.0
pluggy==1.6.0
pox==0.3.7
ppft==1.7.8
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
requests==2.33.1
scipy==1.17.1
six==1.17.0
statsmodels==0.14.6
tqdm==4.67.3
uncertainties==3.2.3
urllib3==2.6.3
